a {
  text-decoration: none;
}

.jumbotron {
  min-height: 5em;
  background: tomato;
  padding-top: 2em;;
  margin: 0;
}

section {
  min-height: 3em;;
  padding: 5em 0;
}

section img {
  width: 400px;
}

#ada-lovelace {
  background: yellow;
}

#grace-hopper {
  background: salmon;
}

#katherine-johnson {
  background: slateblue;
}
