body {
  color: #474747;
  font-size: 1.2em;
}

a {
  color: #E0E0CE;
}

a:hover {
  text-decoration: none;
  color: #E0E0CE;
}

ul {
  list-style: none;
}

h1,
h2,
.bio-hero strong {
  font-family: 'Arima Madurai', cursive;
}

/************************** Home page *************************/
.jumbotron {
  min-height: 450px;
  padding-top: 2em;
  margin: 0;
  border-bottom: 5px solid #E0E0CE;
  background: linear-gradient(0deg, rgba(15,15,15,0.53125) 0%, rgba(253,187,45,0.5) 100%),url(../images/background.jpg) no-repeat 50%;
  background-size: cover;
  color: #E0E0CE;
}

.jumbotron h1 {
  padding-top: 0.5em;
  font-weight: 800;
}

.jumbotron p {
  font-family: 'Arima Madurai', cursive;
}

.jumbotron p {
  font-size: 1.1em;
}

.home-section {
  min-height: 3em;
  ;
  padding: 5em 0;
}

.home-section img {
  width: 400px;
  box-shadow: 10px 10px 0px 0px #E0E0CE;
}

.home-section img:hover {
  width: 400px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(173, 52, 62, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(173, 52, 62, 1);
  box-shadow: 10px 10px 0px 0px rgba(173, 52, 62, 1);
}

.home-section p {
  font-weight: 300;
  font-size: 1.5em;
  padding: 0.3em;
  background: #E0E0CE;
  color: #474747;
}

.home-section h2 {
  background: #000;
  padding: 0.3em;
  color: #F2AF29;

}

.home-section .fake-btn {
  width: auto;
  background: #000;
  color: #E0E0CE;
  margin-top: 2em;
}

.fake-btn:hover {
  background: #AD343E;
}

#grace-hopper h2 {
  background: #F2AF29;
  padding: 0.3em;
  color: #000;
}

#grace-hopper .fake-btn {
  background: #F2AF29;
}

#grace-hopper .fake-btn:hover {
  background: #AD343E;
}

#ada-lovelace,
#katherine-johnson {
  background: #F2AF29;
}

#grace-hopper {
  background: #000000;
}

footer {
  padding: 1em;
  margin-top: 1em;
  color: #474747;
}

footer a {
  color: #AD343E;
  padding: 0.2em;
}

footer a:hover {
  background: #AD343E;
  color: #E0E0CE;
}

/************************** Bio pages *************************/
nav {
  height: 6em;
  border-bottom: 5px solid #E0E0CE;
  font-family: 'Arima Madurai', cursive;
}

.navbar-brand {
  font-size: 2em;
  font-weight: 600;
}

#top .navbar-brand:hover,
#navbarNav .nav-link:hover {
  color: #AD343E;
}

.bio-hero {
  padding: 3em 0;
  background: #F2AF29;
  color: #E0E0CE;
}

.bio-hero h1 {
  padding: 0.3em;
  color: #000;
  font-weight: 500;
}

.bio-hero img {
  width: 350px;
  box-shadow: 10px 10px 0px 0px #E0E0CE;
}

.bio-hero ul {
  padding-top: 1em;
  font-weight: 400;
}

.bio-hero li {
  margin-bottom: 2em;
}

.bio-hero strong {
  background: #000;
  color: #F2AF29;
  padding: 0.5em;
  margin-top: 1em;
  font-weight: 900;
}

.bio-content {
  padding: 3em 0;
}

.bio-content h2 {
  margin-bottom: 0.5em;
}

blockquote {
  background: #000;
  color: #F2AF29;
  height: auto;
  padding: 2em 0;
  margin-bottom: 0;
}

.bottom-buttons {
  margin-top: 2em;
}

.bottom-buttons button {
  background: #AD343E;
  border: none;
}

.text-section {
  margin: 2em 1em;
}

.text-section h3 {
  margin-bottom: 1em;
  background: #000;
  color: #F2AF29;
  padding: 0.3em;
  font-weight: 200;
}

@media screen and (min-width:1000px) {
  .home-section .fake-btn {
    width: 33%;
  }
}
